<% @urls.each do |url| %>
<table width="900">
  <thead>
  <th width="100" align="left">Site</th>
  <th width="100" align="left">Shortened URL</th>
  </thead>
  <tr>
  <td> <a href="http://<%= url["url"] %>" target="_blank">
         <%= url["site_name"] %> </td>
        </a>
  <td> <a href="http://<%= url["url"]%>" target="_blank">
          <%= url["shortened"] %> </td>
        </a>
  </tr>
</table>
<% end %>

<h2> Enter a new URL </h2>
<form action="/" method="post">
  <label for="url">URL:</label>
  <input type="url" id="url" name="url" required />

  <input type="submit" value"Submit" />
</form>
